@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pinkGradient {
  color: rgb(238, 0, 159);
  color: linear-gradient(
    135deg,
    rgba(238, 0, 159, 1) 35%,
    rgba(222, 0, 235, 1) 100%
  );
}

.purplePinkGradient {
  background-color: red;
  background: linear-gradient(to bottom right, #8020f7 0%, #e70af4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
